<ion-view title="Detalhes" id="page9">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-search" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>


  <ion-content padding="true" class="has-header">
    <div class="card " ng-repeat="item in confidentia | orderBy:'-id'">
      <div class="item item-divider calm item-icon-right" align="center">
          {{item.location | uppercase}}
          <i ng-class="!item.added ? 'icon ion-ios-star-outline' : 'icon ion-ios-star assertive'" ng-click="GuardaFavorito(item)")></i>
        </div>
          <div class="item item-text-wrap">
            <h5 class="assertive"align="right" class="">{{item.team1Score}}</h5>
            <p>{{item.team1 | uppercase}}</p>
              <h5 class="assertive" align="right" class="">{{item.team2Score}}</h5>
            <p>{{item.team2 | uppercase}}</p>
          </div>
          <div class="item item-divider" align="right">
            {{item.time | date:'dd-M-yyyy H:mm'}}
          </div>
        </div>
  </ion-content>
</ion-view>
