<ion-view title="{{grupo}}" id="page12">
  <ion-content  class="has-subheader" padding="true">

    
  <div class="list">
      <div class="item item-icon-left item-text-wrap" ng-repeat="item in confidentia | orderBy:'-designacao' | filter: search" ng-click="Go()">
      <i class="calm" ng-class="!item.added ? 'icon ion-ios-star-outline' : 'icon ion-ios-star energized'" ng-click="GuardaFavorito(item)"></i>
       <h3>{{item.designacao}}</h3><span class="badge badge-balanced">{{item.codigo}}</span>
      </div>
    </div>
    
  </ion-content>
</ion-view>