<ion-view title="" id="page1">
  <ion-tabs class="tabs-calm tabs-icon-top" id="page1-tabs1">
    <ion-tab title="Analises" icon="ion-android-search" href="#/page1/page2" id="page1-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favoritos" icon="ion-android-star-outline" icon-on="ion-android-star-outline assertive" href="#/page1/page3" id="page1-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Atulaizar" icon="ion-ios-cloud" href="#/page1/page4" id="page1-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Perfil" icon="ion-ios-people-outline" href="#/page1/page6" id="page1-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
