<ion-view title="Pesquisa" id="page2">

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Pesquisa" ng-model="search">
    </label>
    <button class="button button-clear" ng-click="apagar()">
    <h4 class="stable">Apagar</h4>
    </button>
  </div>

<ion-content scroll-sista='header-tabs' class="has-subheader" overflow-scroll="false">

  <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="bubbles">
  </ion-refresher>

  <ion-item class="item item-divider" align="center">
    <h3 class="calm">Ultima atulização... </h3>
    <h3 class="assertive"> {{dataAtual | date:'dd-M-yyyy H:mm'}}</h3>
  </ion-item>

  <ion-list id="pesquisa-list4" ng-repeat="item in confidentia | filter: search">
    <ion-item class="item item-icon-right " id="pesquisa-list-item18" ng-click="PassaId(item.id)" >
      <i class="icon  ion-android-arrow-dropright assertive"></i>
      <h3 class="calm">{{item.name}}</h3>
    </ion-item>
  </ion-list>

</ion-content>
</ion-view>
