<ion-view title="Pesquisa" id="page2">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-search" ng-click="showFilterBar()" >
    </button>
  </ion-nav-buttons>

  <ion-content padding="true">
    <div class="item item-divider calm " >
    Data da ultima atulização...<h4 class="assertive" align="right"> {{dataAtual | date:'dd-M-yyyy H:mm'}}</h4>
    </div>

      <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="doRefresh()" spinner="bubbles">
     </ion-refresher>

    <div class="list list-inset " id="pesquisa-list4" ng-repeat="item in confidentia | filter: search">
      <div class="item item-icon-right " id="pesquisa-list-item18" ng-click="PassaId(item.id)">
          <i class="icon  ion-android-arrow-dropright assertive"></i>
          <h3 class="calm">{{item.name}}{{confidentia.leght}}</h3>
      </div>
    </div>
  </ion-content>
</ion-view>
